button, input[type=text], input[type=email], select, textarea, fieldset {
    font-family : inherit;
    font-size   : 100%;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: border-box;
    border-radius: 4px;

}

.question-link {
  border:none;
  font-weight: bold;
  outline: none;
  
}

label {
    /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    width:50px;
    text-align: left;
  }

  input[type=text], input[type=email], input[type=checkbox], input[type=radio] {
    margin-left: 25px;
    width: 250px;
}

  /* make all divs within a form have a top margin of 1em, meaning 16px (default font size) */
  form div {
    margin-top: 1em;
  }
