
/* a dot in front signifies a class, which can be used multiple times through
 * the site. 
*/

/* font family and alignment */

.Main {
    text-align: left;
    font-family: Helvetica, Arial, sans-serif;
}

/* just in case images don't work */
header, .Menu {
    background-color: #B6C3D2; 
}

/* header image */
.imageClass {
    width: 100%;
    height: auto;
    display: block;
}

/* Navigation CSS */

.Menu {
    height: 39px;
    width: 100%;
}

nav ul, nav li {
    list-style-type: none;
    margin: 0;
    padding: 0;    
    float: left;

    
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

li a:hover {
    background-color:rgb(124, 158, 197);
}

/* Not really sure what the point of this is anymore */

body  {
    margin: 0;
    padding: 0;
}

/* I wanted a default sizing for the content displayed to align the menu */
.Content {
    margin: 20px;
    min-height: 500px;
}

h3 {
    margin: 0;
}

/* form elements */

button, input[type=text], input[type=email], select, textarea, fieldset {
    font-family : inherit;
    font-size   : 100%;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: border-box;
    border-radius: 4px;

}

input[type=text], input[type=email] {
    width: 13em;
}


  input[type=text], input[type=email], input[type=checkbox], input[type=radio] {
      margin-left: 5px;
  }
  
  input:focus, input:valid {
    /* To give a little highlight on active elements */
    border-color: #B6C3D2;
  }

  input:invalid {
    border: 2px solid red;
  }

  input:focus:invalid {
    outline: none;
  }

button {
    /* To position the buttons to the same position of the text fields */
    float   : right;
    padding : 10px;
    background-color: #B6C3D2;
    color: #FFF;
    border-radius: 4px;

}

button:hover {
    background-color: rgb(124, 158, 197);

}
  
form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 4px;
    overflow: auto;
  }

  /* make all divs within a form have a top margin of 1em, meaning  */
  form div + div {
    margin-top: 1em;
  }
  
  
  label {
    /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    width:120px;
    text-align: right;
  }

  